{% if not variables and self.formula() %}
{% block formula %}{% endblock %}
{% else %}
<!DOCTYPE HTML>

<html>
  <head>
  {% block head %}
    <title>
      Calculators
    </title>

    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' />

    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css' media='all'>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/calculators.css', _external=True) }}' media='all'>

    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js'></script>
    <script type='text/javascript' src='https://code.jquery.com/ui/1.11.3/jquery-ui.min.js'></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  {% endblock %}
  </head>

  {%- block body -%}{%- endblock %}
</html>
{% endif %}
