{% extends 'common.html' %}

{% block head %}
    {{ super() }}
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js'></script>
    <script type='text/javascript' src='{{ url_for('static', filename='javascripts/jquery.caret.min.js') }}'></script>
    <script type='text/javascript' src='{{ url_for('static', filename='javascripts/jquery.tag-editor.min.js') }}'></script>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/jquery.tag-editor.css') }}' media='all'>
{% endblock %}

{% block body %}
    <div id='edit-calculators'>
      <div id='saved' class='alert-wrapper'>
        <div class='ui positive message'>Saved.</div>
      </div>

      <div id='modified' class='alert-wrapper'>
        <div class='ui negative message'>
          The template has been modified<br />
          <div class='ui buttons'>
            <button class='ui discard button'>Discard</button>
            <div class='or'></div>
            <button class='ui positive save button'>Save</button>
          </div>
        </div>
      </div>

      <div id='confirm-delete' class='alert-wrapper'>
        <div class='ui negative message'>
          Are you sure you want to delete?<br />
          <div class='ui buttons'>
            <button class='ui no-delete button'>Cancel</button>
            <div class='or'></div>
            <button class='ui delete negative button'>Delete</button>
          </div>
        </div>
      </div>

      <nav id='calculator-list' class='ui form'>
        <input class='search' placeholder='Search' />
        <div class='ui form' onsubmit='return false;'>
          <input autocomplete='off' id='new-formula-name' placeholder='New name'>
          <button id='new-formula' class='ui primary button'>Create</button>
        </form>
        <ul class='list'>
          <li>
            <span class='id'>id</span>
            <div class='li'>
              <span class='name'>name</span>
            </div>
            <button class='ui right floated negative delete-calculator button'>Delete</button>
          </li>
        </ul>
      </nav>

      <div id='editor-wrapper'>
        <div id='editor-tag-bar'>
          <textarea id='tokenfield'></textarea>
        </div>

        <div id='editor'></div>

        <div id='editor-button-bar'>
          <div class='ui buttons'>
            <button class='ui discard button'>Discard</button>
            <div class='or'></div>
            <button class='ui positive save button'>Save</button>
          </div>
        </div>
      </div>
    </div>

    <script type='text/javascript'>
      var calculator_list = null;
      var editor = null;
      var formula = null;
      var loaded = null;
      var load_requested = null;
      var active_link = null;
      var deleting = null;

      function update_tags () {
        $('#editor').css('top',
            parseInt($('#editor-tag-bar').css('padding-top').replace('px', '')) +
            Math.max($('#editor-tag-bar').innerHeight(),
              $('#editor-tag-bar #tokenfield').outerHeight())
            );
        editor.resize();

        var tags = $('#tokenfield').tagEditor('getTags')[0].tags;

        $.post('{{ url_for('Endpoint:set_tags') }}',
            {id: calculator_list.get('name', loaded[0].outerText)[0]._values['id'],
             tags: JSON.stringify(tags)}
          );
      }

      function create_list(calculators) {
        calculator_list = new List('calculator-list', {
          valueNames: [ 'name', 'id' ]
        });

        var active = $('li.active');

        calculator_list.remove('id', 'id');
        calculator_list.add(calculators);

        $('li').removeClass('active');
        $(active).addClass('active');

        set_click_action();
      }

      function do_delete () {
        $.ajax({
          url: '{{ url_for('Endpoint:delete_calculator') }}',
          type: 'DELETE',
          data: {id: calculator_list.get('name', $('.name', deleting.parents('li')).text())[0]._values['id']},
          success: function (data) {
            calculator_list.remove('name', $('.name', deleting.parents('li')).text())
          }
        });
      }

      function set_click_action() {
        $('#calculator-list div.li').click(function () {
          var calc = $(this);

          if (loaded && formula != editor.getValue()) {
            load_requested = calc;
            $('#modified').show();
          } else {
            if (active_link) {
              active_link.removeClass('active');
            }
            active_link = calc.parents('li').addClass('active');

            $.get('{{ url_for('Endpoint:get_formula') }}',
              {id: calculator_list.get('name', calc[0].outerText)[0]._values['id']},
              function (data) {
                data = JSON.parse(data);

                loaded = calc;
                formula = data.template;
                editor.getSession().setValue(data.template, -1);
                editor.resize();
                $('#editor-wrapper').show();

                var tags = $('#tokenfield').tagEditor('getTags')[0].tags;
                if (tags) {
                  for (i = 0; i < tags.length; i++) {
                    $('#tokenfield').tagEditor('removeTag', tags[i]);
                  }
                }
                $('#tokenfield').tagEditor('destroy');

                $('#tokenfield').tagEditor({
                  placeholder: 'Tags',
                  initialTags: data.tags,
                  autocomplete: {
                    source: function (req, resp) {
                      var search = '{{ url_for('Endpoint:search_tags', search='') }}';
                      $.getJSON(search + encodeURIComponent(req.term), resp);
                    }
                  }
                });
              }
            );
          }
        });

        $('#calculator-list button.delete-calculator').click(function () {
          deleting = $(this);
          $('#confirm-delete').show();
        });
      }

      $(function () {
        $('#new-formula').click(function () {
          var name = $('#new-formula-name').val();
          if (!name) {
            return;
          }
          $('#new-formula-name').val('');

          $.ajax({
            url: '{{ url_for('Endpoint:new_formula') }}',
            type: 'PUT',
            data: {'name': name},
            success: function (data) {
              data = JSON.parse(data);
              var searchable = [];
              for (i = 0; i < data.size; i++) {
                searchable.push({id: data.results[i].id,
                  name: data.results[i].name});
              }
              create_list(searchable);
            }
          });
        });

        $('.delete').click(function () {
          $('#confirm-delete').hide();
          do_delete();
          if (loaded && (deleting.parents('li')[0] == loaded.parents('li')[0])) {
            $('#editor-wrapper').hide();
          }
        });

        $('.no-delete').click(function () {
          $('#confirm-delete').hide();
        });

        $('.save').click(function () {
          update_tags();

          $.post('{{ url_for('Endpoint:set_formula') }}',
            {id: calculator_list.get('name', loaded[0].outerText)[0]._values['id'],
              formula: editor.getValue()},
            function () {
              $('#saved').show();
              setTimeout(function () {
                $('#saved').fadeOut();
              }, 2000);

              $('#modified').hide();

              if (load_requested) {
                var clicked = load_requested;
                load_requested = null;
                loaded = null;
                clicked.click();
              } else {
                formula = editor.getValue();
              }
            }
          );
        });

        $('.discard').click(function () {
          $('#modified').hide();
          loaded = null;
          formula = null;

          if (load_requested) {
            var clicked = load_requested;
            load_requested = null;
            clicked.click();
          } else {
            editor.getSession().setValue('');
            $('#editor-wrapper').hide();
          }
        });

        editor = ace.edit('editor');
        editor.setTheme('ace/theme/solarized_light');
        editor.getSession().setMode('ace/mode/python');
        editor.getSession().setUseWrapMode(true);
        editor.$blockScrolling = Infinity;
        $('#editor-wrapper').hide();

        $.get('{{ url_for('Endpoint:dump_calculators') }}',
          function (data) {
            data = JSON.parse(data);

            var searchable = [];
            for (i = 0; i < data.size; i++) {
              searchable.push({id: data.results[i].id,
                name: data.results[i].name});
            }
            create_list(searchable);
          }
        );
      });
    </script>
{% endblock %}
