{% extends 'common.html' %}

{% block head %}
    {{ super() }}
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js'></script>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css' media='all'>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.min.css' media='all'>
{% endblock %}

{% block body %}
    <div id='edit-calculators'>
      <div id='saved' class='alert-wrapper'>
        <div class='alert alert-success'>Saved.</div>
      </div>

      <div id='modified' class='alert-wrapper'>
        <div class='alert alert-danger'>
          The template has been modified<br />
          <button type='button' class='discard btn btn-warning'>Discard</button>
          <button type='button' class='save btn btn-success'>Save</button>
        </div>
      </div>

      <div id='confirm-delete' class='alert-wrapper'>
        <div class='alert alert-danger'>
          Are you sure you want to delete?<br />
          <button type='button' class='no-delete btn btn-default'>Cancel</button>
          <button type='button' class='delete btn btn-danger'>Delete</button>
        </div>
      </div>

      <nav id='calculator-list'>
        <input class='search' placeholder='Search' />
        <form class='form-inline' onsubmit='return false;'>
          <div class='form-group'>
            <input autocomplete='off' class='form-control' id='new-formula-name' placeholder='New name'>
          </div>
          <button id='new-formula' class='btn btn-primary'>Create</button>
        </form>
        <ul class='list'></ul>
      </nav>

      <div id='editor-wrapper'>
        <div id='editor-tag-bar'>
          <input id='tokenfield' type='text' class='form-control' placeholder='Tag'>
        </div>

        <div id='editor'></div>

        <div id='editor-button-bar'>
          <button type='button' class='discard btn btn-warning'>Discard</button>
          <button type='button' class='save btn btn-success'>Save</button>
        </div>
      </div>
    </div>

    <script type='text/javascript'>
      var tag_engine = null;
      var editor = null;
      var formula = null;
      var loaded = null;
      var load_requested = null;
      var active_link = null;
      var deleting = null;

      function update_tags () {
        $('#editor').css('top',
            parseInt($('#editor-tag-bar').css('padding-top').replace('px', '')) +
            Math.max($('#editor-tag-bar').innerHeight(),
              $('#editor-tag-bar .tokenfield').outerHeight())
            );
        editor.resize();

        var tags = [];
        $('.token-label').each(function () { tags.push($(this).text()) });

        $.post('{{ url_for('Endpoint:set_tags') }}',
            {id: loaded.data('id'),
             tags: JSON.stringify(tags)}
          );
      }

      function create_list(calculators) {
        calculators.forEach(function (calculator) {
          $('<li>')
            .html(
              $('<a>', {
                href: '#' + calculator.id
              })
              .data('id', calculator.id)
              .html(
                $('<span>')
                  .addClass('name')
                  .text(calculator.name)
              )
            )
            .append(
                $('<button>')
                  .addClass('btn btn-danger pull-right delete-calculator')
                  .data('id', calculator.id)
                  .text('Delete')
                  .hide()
            )
            .appendTo($('#calculator-list ul'));
        });

        new List('calculator-list', {
          valueNames: [ 'name' ]
        });

        set_click_action();
      }

      function do_delete () {
        $.ajax({
          url: '{{ url_for('Endpoint:delete_calculator') }}',
          type: 'DELETE',
          data: {'id': deleting.data('id')},
          success: function (data) {
            deleting.parents('li').remove();
          }
        });
      }

      function set_click_action() {
        $('#calculator-list a').click(function () {
          var calc = $(this);

          if (active_link) {
            active_link.removeClass('active');
          }
          active_link = calc.parents('li').addClass('active');

          if (loaded && formula != editor.getValue()) {
            load_requested = calc;
            $('#modified').show();
          } else {
            $.get('{{ url_for('Endpoint:get_formula') }}',
              {id: calc.data('id')},
              function (data) {
                data = JSON.parse(data);

                loaded = calc;
                formula = data.template;
                editor.getSession().setValue(data.template, -1);
                editor.resize();
                $('#editor-wrapper').show();

                $('#tokenfield').tokenfield({
                  typeahead: [null, { source: tag_engine.ttAdapter() }]
                });

                $('#tokenfield').tokenfield('setTokens', data.tags);
              }
            );
          }
        });

        $('#calculator-list button.delete-calculator').click(function () {
          deleting = $(this);
          $('#confirm-delete').show();
        });
      }

      $(function () {
        tag_engine = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: {
            url: '{{ url_for('Endpoint:search_tags', search='') }}' + '%QUERY',
            wildcard: '%QUERY'
          }
        });

        $('#new-formula').click(function () {
          var name = $('#new-formula-name').val();
          if (!name) {
            return;
          }
          $('#new-formula-name').val('');

          $.ajax({
            url: '{{ url_for('Endpoint:new_formula') }}',
            type: 'PUT',
            data: {'name': name},
            success: function (data) {
              data = JSON.parse(data);
              create_list(data.results);
            }
          });
        });

        $('.delete').click(function () {
          $('#confirm-delete').hide();
          do_delete();
          if (deleting.parents('li')[0] == loaded.parents('li')[0]) {
            $('#editor-wrapper').hide();
          }
        });

        $('.no-delete').click(function () {
          $('#confirm-delete').hide();
        });

        $('.save').click(function () {
          update_tags();

          $.post('{{ url_for('Endpoint:set_formula') }}',
              {id: loaded.data('id'), formula: editor.getValue()},
              function () {
                $('#saved').show();
                setTimeout(function () {
                  $('#saved').fadeOut();
                }, 2000);

                $('#modified').hide();

                if (load_requested) {
                  var clicked = load_requested;
                  load_requested = null;
                  loaded = null;
                  clicked.click();
                } else {
                  formula = editor.getValue();
                }
              }
          );
        });

        $('.discard').click(function () {
          $('#modified').hide();
          loaded = null;
          formula = null;

          if (load_requested) {
            var clicked = load_requested;
            load_requested = null;
            clicked.click();
          } else {
            editor.getSession().setValue('');
            $('#editor-wrapper').hide();
          }
        });

        editor = ace.edit('editor');
        editor.setTheme('ace/theme/solarized_light');
        editor.getSession().setMode('ace/mode/python');
        editor.getSession().setUseWrapMode(true);
        editor.$blockScrolling = Infinity;
        $('#editor-wrapper').hide();

        $.get('{{ url_for('Endpoint:dump_calculators') }}',
          function (data) {
            data = JSON.parse(data);

            create_list(data.results);

            if (window.location.hash.slice(1)) {
              var link = $('a[href="' + window.location.hash + '"]');
              link.click();
            }
          }
        );
      });
    </script>
{% endblock %}
