html, body {
  height: 100%;
}

#edit-calculators {
  height: 100%;
  display: flex;
}

#search-box {
  margin-top: 100px;
  margin-bottom: 50px;
}

span.twitter-typeahead {
  width: 100%;
}

.tt-input,
.tt-hint {
  height: 30px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
}

.tt-menu {
  background-color: #FFF;
  margin-top: 12px;
  padding: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

#calculator-list:hover,
nav#calculator-list.expanded {
  width: auto;
  overflow-x: visible;
  overflow-y: scroll;
}
#calculator-list:hover button {
  display: inline-block !important;
}

#calculator-list {
  background: #fbfbfb;
  border-right: 1px solid #e5e5e5;
  width: 60px;
  overflow: hidden;
  z-index: 1000;
  padding: 7px 0;
}

#calculator-list input.search {
  width: 100%;
  padding: 0 10px;
  margin: 0 0 5px;
  height: 36px;
}

#new-formula-name {
  padding: 0 10px;
  height: 36px;
  min-width: 60px;
  display: inline-block;
}

#new-formula {
  height: 36px;
  min-width: 60px;
  display: inline-block;
}

#calculator-list ul {
  padding: 0;
}

#calculator-list li {
  display: block;
  -webkit-transform: translateZ(0) scale(1,1);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  height: 36px;
  padding-left: 10px;
  padding-right: 10px;
}

#calculator-list li a {
  color: #999;
  text-decoration: none;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

#calculator-list .name {
  position: relative;
  height: 36px;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  white-space: nowrap;
}

#calculator-list li:hover a,
nav#calculator-list li.active a {
  color: #fff;
}

#calculator-list li:hover,
nav#calculator-list li.active {
  background-color: #5fa2db;
  width: 100%;
}

#editor-wrapper {
  flex: 1;
}

#editor-tag-bar {
  height: 10%;
  position: fixed;
  top: 0;
  width: 94%;
  padding: 10px 10px 0;
  z-index: 999;
}

#editor-tag-bar .tokenfield {
  padding: 0;
  min-height: 0;
  border-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#editor-tag-bar .tokenfield .token {
  margin-bottom: 0;
}

#editor-tag-bar .twitter-typeahead {
  top: -5px;
}

#editor-tag-bar .twitter-typeahead .tt-hint,
#editor-tag-bar .twitter-typeahead .tt-input {
  height: 25px;
  padding: 4px 0 0;
}

#editor-tag-bar .tt-menu {
  margin-top: 0;
  padding: 0;
  margin-top: 3px;
}

#editor-tag-bar .tt-menu .tt-suggestion {
  padding: 0 10px;
  font-size: 14px;
}

#editor-tag-bar .tt-menu .tt-cursor {
  color: white;
  background-image: none;
}

#editor {
  position: fixed;
  width: 94%;
  top: 10%;
  bottom: 10%;
  font-size: 18px;
}

#editor-button-bar-wrapper {
  height: 5%;
  min-height: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#editor-button-bar {
  position: fixed;
  right: 50%;
  bottom: 10px;
}

.alert-wrapper {
  position: absolute;
  left: 50%;
  display: none;
  z-index: 9999;
}

.alert {
  position: relative;
  left: -50%;
  text-align: center;
}
